@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  src: url("./assets/fonts/Montserrat-Regular.woff2") format("woff2");
}

.slider-container {
  display: grid;
  gap: 1rem;
  max-width: 50rem;
  margin-inline: auto;
  margin-top: 10%;
}

input[type="radio"] {
  display: none;
}

.slider-body {
  width: 100%;
  overflow: hidden;
}

.slides {
  display: flex;
  width: 400%;
  transition: transform 0.5s ease-in-out;
}

.slides img {
  width: 25%;
  max-height: min-content;
  object-fit: cover;
}

.slider-controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.captions-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
}

.caption {
  grid-area: 1 / 1;
  opacity: 0;
  visibility: hidden;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.18em;
  line-height: 150%;
  transition:
    opacity 0.5s ease-in-out,
    visibility 0.5s;
}

.controls-container {
  display: flex;
  width: 30%;
  justify-content: flex-end;
  align-items: center;
  gap: 0.313rem;
}

#slide_1:checked ~ .slider-body .slides {
  transform: translateX(0%);
}
#slide_2:checked ~ .slider-body .slides {
  transform: translateX(-25%);
}
#slide_7:checked ~ .slider-body .slides {
  transform: translateX(-50%);
}
#slide_8:checked ~ .slider-body .slides {
  transform: translateX(-75%);
}

#slide_1:checked ~ .slider-controls .txt_1,
#slide_2:checked ~ .slider-controls .txt_2,
#slide_7:checked ~ .slider-controls .txt_7,
#slide_8:checked ~ .slider-controls .txt_8 {
  opacity: 1;
  visibility: visible;
}

#slide_1:checked ~ .slider-controls .btn_1,
#slide_2:checked ~ .slider-controls .btn_2,
#slide_7:checked ~ .slider-controls .btn_7,
#slide_8:checked ~ .slider-controls .btn_8 {
  background-color: #3b82f6;
  border-color: #3b82f6;
}

.control_space {
  width: 0.2rem;
  height: 0.2rem;
  padding: 1rem;
  cursor: pointer;
  background-clip: content-box;
  border: 0.2rem solid #ccc;
  border-radius: 50%;
  background-color: transparent;
  transition: all 0.3s ease;
}

.control_space:hover {
  border-color: #3b82f6;
}
