html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: black;
}

.slides {
    margin: 0 auto;
    width: 50%;
    height: 50%;
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.slides img {
    scroll-snap-align: start;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100%;
    object-fit: cover;
}

.controls {
    display: flex;
    transform: translateX(30%);
    width: 20%;
    height: 10%;
    transition: 0.3s;
}

.control1, .control2, .control3, .control4, .control5 {
    width: 1em;
    height: 1em;
    background-color: gold;
    display: flex;
    justify-content: space-between;
}

.controls a:hover {
    opacity: 0.7;
}